html{
    scroll-behavior: smooth;
    

}
@media  screen and (max-width=600px) {
    .name{
        width: 100%;
        display: flex;
        color: bisque;
    }
    
}
body{
    display: flexbox;
    margin: 10px 90px 10px 90px;
    border: 100px solid;  
    padding-left: 90px; 
    padding-top: 0px; 
    padding-bottom: 40px;
    padding-right: 200px;

   }
    div{
    position: relative;
    color: rgb(201, 157, 157);
}
#myVideo{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

div > div{
    border:none;
    padding-left:50px;
    font-style: italic;
    
}


      
h1{
    color:rgb(154, 196, 209)
}
.name{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:black;
    font-weight:bold;
    padding: 20px;
    margin: 20px;
}

#fname,#lname,#phone,#reg,#course,#year,#branch,#college,#city,#state,#course,#email{
    width: 200;
    height: 30;
    padding-left: 20px;
  } 
  #country{
    width: 50;
    height: 30;
    padding-left: 5px;
  }

#address{
    width: 300;
    height: 60;
    padding-left: 20px;
}

   
form > div{
           padding: 20px;
           border: 1px groove;
           width: 110%;
           height:auto;
           
}
#submit{
    background-color: cadetblue;
    border: solid;
    width: 100px;
    position: absolute;
    padding: 10;
    align-items: center;
    justify-content: center;
}
#submit:hover{
    background-color: aqua;
    cursor:pointer;
}
.required::after{
    content:"*";
    color:red;
}